<div class="svg-container">
  <svg class="svg-content" preserveAspectRatio="xMinYMin meet" viewBox="0 0 515 304.00000000000006">
    <g>
      <rect x="-1" y="-1" width="517" height="306" id="canvas_background" fill="#ffffff" />
      <g id="canvasGrid" display="none">
        <rect id="svg_1" width="640" height="480" x="1" y="1" stroke-width="0" fill="url(#gridpattern)" />
      </g>
    </g>
    <g>
      <path class="svg_15" d="m51.832708,2.168571l459.225511,0.5" stroke-opacity="null" stroke-linecap="undefined"
        stroke-linejoin="undefined" stroke-width="5" stroke="#000" fill-opacity="null" fill="none" />
      <path class="svg_16" d="m50.196679,301.131465l459.81372,0" stroke-opacity="null" stroke-linecap="undefined"
        stroke-linejoin="undefined" stroke-width="5" stroke="#000" fill-opacity="null" fill="none" />
      <path class="svg_17" d="m1.878523,250.708651l50.073521,51.014697" stroke-opacity="null" stroke-linecap="undefined"
        stroke-linejoin="undefined" stroke-width="5" stroke="#000" fill-opacity="null" fill="none" />
      <path class="svg_18" d="m53.41176,2.103224l-51.470585,50.588232"
        transform="rotate(-0.35386937856674194 27.676469802853664,27.3972549438473) " stroke-opacity="null"
        stroke-linecap="undefined" stroke-linejoin="undefined" stroke-width="5" stroke="#000" fill-opacity="null"
        fill="none" />
      <path class="svg_21" d="m1.823527,51.206306l0.588235,201.176457" stroke-opacity="null" stroke-linecap="undefined"
        stroke-linejoin="undefined" stroke-width="5" stroke="#000" fill-opacity="null" fill="none" />
      <path stroke="#000" class="svg_22" d="m512.597794,0.160299l-0.294176,303.465462" stroke-opacity="null"
        stroke-linecap="undefined" stroke-linejoin="undefined" stroke-width="5" fill-opacity="null" fill="none" />
    </g>
  </svg>
</div>