/**
/* Variables contenant valeurs taille différents elmts
*/
/*Page*/
$page-w: 21cm;
$page-h: 29.7cm;
$page-margin: 1.25cm;

/*Facteur bidouille, pour avoir les étiquettes de la bonne taille sur 
l'impression A4 */
$bidouilleFactor: 1.50;

/*Etiquette*/
$etiquette-h: calc(5.03cm*#{$bidouilleFactor});
$etiquette-w: calc(8.59cm*#{$bidouilleFactor});

/*Option de l'étiquette*/
    /*Marge entre les étiquettes*/
    $margin-vs-etiquettes: 5px;
    /*Font La Minouze*/
    $font-LaMinouze: "minouzeFont";
    $font-size-LaMinouze :calc(68px*#{$bidouilleFactor}) ;
    $font-beerName:"beerName";
    $font-size-beerName : calc(24px*#{$bidouilleFactor});
    /*Position du logo*/
    $pos-titre: calc(88px*#{$bidouilleFactor});
    $pos-carlos: calc(179px*#{$bidouilleFactor});
    /*Font texte + ingrédiens + alc + txtWarning*/
    $font-texte: "avenir";
    $font-texte-bold: "avenirBold";
    $size-texte-descriptif: 16px;
    $size-ingredients: 10px;
    $size-alc: 20px;
    $size-warn: 7px;
